body{
  background-color: #FFE5BA;
  font-size: 25px;
  font-family: "Comic Sans MS";
  color: #070707;
}

p {
  padding: 0;
  margin: 0;
}

.right-itm{
  text-align: left;
}

.left-itm{
  text-align: right;
}

#container{
  width: 100%;
  text-align: center;
}

/*Quiz header container (not text)*/
#quiz-header{
  font-size: 20px;
  width: 65%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 auto;
}

.char-img{
  max-height:100%;
}

/* Quiz heading text*/
#heading-txt{
  font-size: 30px;
  line-height: 1.2em;
  margin: 0 0 7px 0;
  text-decoration: underline;
}

#quiz-action-btn{
  margin-top: 10px;
  font-size: inherit;
  font-weight: bold;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 3px;
  display: none;
}

#squares-container{
  text-align: center;
  width: 65%;
  margin: 0 auto;

}

.row-item {
  position: relative;
  padding: 10px 25px;
  height: 100%;
  position: right;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  height: 150px;
}

.rec {
  position: relative;
  width: 100%;
  margin: 10px 0;
  background-color: #ffffff;
  border: solid #000000 1px;
  border-radius: 8px;
}

.rec:after {
  display: block;
  padding-bottom: 100%;
}

.center-content {
  justify-content: center;
  padding: 2em 0 2em 0;
}

.content {
  position: absolute;
  width: 100%;
}

.lg-width {
  width: 90%;
  text-align: left;
}

.sm-width {
	width: 10%;
}

.row-item .sm-width {
	justify-content: center;
}

.checkbox-container {
  display: inline-block;
  position: relative ;
  /*padding-left: 35px;
  margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: rgb(238, 238, 238);
	text-align: center
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: rgb(196, 200, 204);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: inline-block;
  margin-left: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10px;
  height: 25px;
  border: solid rgb(11, 197, 58);
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox:after {
  content: " ";
  display: block;
  clear: both;
}
