body{
  background-color: #FFE5BA;
  font-size: 25px;
  font-family: "Comic Sans MS";
  color: #070707;
}

.back-btn{
  font-size: 25px;
  font-weight: bold;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 5px;
  color: #000;
  text-decoration: none;
}

/* md col size and above */
@media (min-width: 768px) {
  .back-btn {
    position:absolute;
    margin-left: 26px;
    margin-top: 9px;
  }
  .custom-width{
    width:75%;
  }
}

/*Quiz header container (not text)*/
#quiz-header{
  width: 65%;
  text-align: center;
}

/* Quiz heading text*/
.heading-txt{
  text-decoration: underline;
}

#quiz-action-btn{
  margin-top: 10px;
  font-size: inherit;
  font-weight: bold;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 3px;
  display: none;
}

.rec {
  background-color: #ffffff;
  border: solid #000000 1px;
  border-radius: 8px;
  padding: 13px 0;
  margin-bottom: 10px;
}


.checkbox-container {
  cursor: pointer;
}

.checkbox-container input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 10px;
  background-color: rgb(238, 238, 238);
	text-align: center;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: rgb(196, 200, 204);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: inline-block;
  margin-left: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10px;
  height: 25px;
  border: solid rgb(11, 197, 58);
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.checkbox:after {
  content: " ";
  display: block;
  clear: both;
}*/
