@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: "Balsamiq Sans";
  background-color: #FFFDCC;
  font-size: 17px;
  color: #070707;
}

a, a:hover, a:active{
  color: #957529;
}

a:active{
  text-decoration: none;
}

.container{
  width: 90%;
}

.navbar{
  background-color: rgba(255, 255, 255, .9);
  /*border-bottom: 1px solid #000";*/
}

.navbar-light .navbar-toggler{
    border: none;
}

.nav-link{
  padding-right: 10px;
}

.square{
  background-color: rgba(255, 255, 255, .9);
  padding: 6px;
  border: 1px solid #000;
  border-radius: 8px;
}

.alt-styling, .alt-styling:hover{
  text-align: center;
  color: #000;
}
