body{
  background-color: #FFFDCC;
  font-size: 17px;
  font-family: "Comic Sans MS";
  color: #070707;
}

a, a:hover, a:active{
  color: #957529;
}

a:active{
  text-decoration: none;
}

.container{
  width: 90%;
}

.navbar{
  background-color: rgba(255, 255, 255, .9);
  /*border-bottom: 1px solid #000";*/
}

.navbar-light .navbar-toggler{
    border: none;
}

.nav-link{
  padding-right: 10px;
}

.square{
  background-color: rgba(255, 255, 255, .9);
  padding: 6px;
  border: 1px solid #000;
  border-radius: 8px;
}

.alt-styling, .alt-styling:hover{
  text-align: center;
  color: #000;
}
