body{
  background-color: #FFFDCC;
  font-size: 25px;
  font-family: "Comic Sans MS";
  color: #070707;
}

#container{
  width: 100%;
  text-align: center;
}

#char-container{
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.char{
  margin: 10px;
  display: inline-block;
}

#start-game{
  margin-top: 10px;
  font-size: inherit;
  background-color: #ccc;
  border: #707070 1px solid;
  font-family: inherit;
}

.char-name, .food-desc, .allergen, .speech-bubble{
  display: none;
}

.food-desc, .speech-bubble{
  background-color: #C4ECED;
  padding: 10px;
}
