body{
  font-size: 25px;
  font-family: "Comic Sans MS" !important;
  color: #070707;
}

a{
  text-decoration:none !important;
  color: inherit !important;
}

/* Quiz heading text*/
#quiz-heading{
  font-size: 1.5em;
  margin: 0px;
}

#quiz-action-btn{
  margin: 10px 0;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 3px;
  display: none;
}

.back-btn{
  font-size: 25px;
  font-weight: bold;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 5px;
}

#squares-container{
  text-align: center;
  width: 85%;
  margin: 0 auto;

}

.square {
  background-color: #ffffff;
  border: solid #000000 1px;
  border-radius: 8px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

 /* sm col size and below */
@media (max-width: 767.98px) {
  .square {
    padding-bottom: 50%;
  }
}

/* md col size and above */
@media (min-width: 768px) {
  .square {
    padding-bottom: 23%;
  }
  .back-btn {
    position:absolute;
  }
}


/*.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/
