body{
    font-family: "Comic Sans MS";
    color: #070707;
    align-self: center;
    margin: 0 0;
  }

  h1{
    font-style: bold;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin:0px;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  #container{
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }

  .center {
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .quiz-action-btn{
    font-size: 35px;
    font-weight: bold;
    background-color: #FFFDCC;
    border: #707070 1px solid;
    border-radius: 24px;
    font-family: inherit;
    padding: 0 10px;
    padding-bottom: 5px;
    width: 200px;
    height: auto;
  }

  span{
      color: #57B82D;
      font-style: italic;
      font-size: 50px;
  }
