body{
  background-color: #FFE5BA;
  font-size: 25px;
  font-family: "Comic Sans MS";
  color: #070707;
}

.right-itm{
  width: 60%;
  text-align: left;
}

.left-itm{
  width: 40%;
  text-align: right;
}

#container{
  width: 100%;
  text-align: center;
}

/*Quiz header container (not text)*/
#quiz-header{
  font-size: 20px;
  width: 65%;
  vertical-align: middle;
  margin: 0 auto;
}

#char-img{
  height:100%;
}

/* Quiz heading text*/
#quiz-heading{
  font-size: 30px;
  line-height: 1.2em;
  margin: 0px;
}

#quiz-action-btn{
  margin-top: 10px;
  font-size: inherit;
  font-weight: bold;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  padding-bottom: 3px;
  display: none;
}

.back-btn{
  font-size: 25px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background-color: #FFFDCC;
  border: #707070 1px solid;
  border-radius: 24px;
  font-family: inherit;
  padding: 0 10px;
  float: left;
  padding-bottom: 5px;
}

#squares-container{
  text-align: center;
  width: 65%;
  margin: 0 auto;

}

.row-item {
  position: relative;
  padding: 0 25px;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  position: relative;
  width: 50%;
  margin: 10px;
  background-color: #ffffff;
  border: solid #000000 1px;
  border-radius: 8px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
