<html>
  <head>
      <!--Page title and thumbnail-->
      <title>Allergy Game</title>

      <!--Customizations-->
      <link href="css/ingredlist_TEMPLATE.css" rel="stylesheet">

      <!--JavaScript links-->
      <script src="js/ingredlist_TEMPLATE.js"></script>
  </head>

  <body>

    <div id="container">
      <div id="quiz-header">
		  <h4 id="heading-txt">Recipe Title</h4>
        <div class="row center-content"> 
		  <div class="column" style="width: 100%;">
			img 1 
            <img src="" class="char-img"> 
          </div>
		  <div class="column" style="width: 100%;">
			img 2
            <img src="" class="char-img"> 
          </div>
        </div>
      </div>

      <div id="squares-container">
          <!--top rec-->
          <div class="rec"> 
			<div class="row"> 
				<div class="row-item lg-width"> 
					ingredient 
				</div>
				<div class="row-item sm-width checkbox"> 
					<label class="checkbox-container">
						<input type="checkbox" onClick="validate()">
						<span class="checkmark"></span>
					</label> 
				</div>
			</div> 
          </div> 

          <!--2nd rec-->
          <div class="rec"> 
			<div class="row"> 
				<div class="row-item lg-width"> 
					ingredient 
				</div>
				<div class="row-item sm-width checkbox"> 
					<label class="checkbox-container">
						<input type="checkbox" onClick="validate()">
						<span class="checkmark"></span>
					</label> 
				</div>
			</div> 
          </div>

          <!--3rd rec-->
          <div class="rec"> 
			<div class="row"> 
				<div class="row-item lg-width"> 
					ingredient 
				</div>
				<div class="row-item sm-width checkbox"> 
					<label class="checkbox-container">
						<input type="checkbox" onClick="validate()">
						<span class="checkmark"></span>
					</label> 
				</div>
			</div> 
          </div>

          <!--bottom rec-->
          <div class="rec"> 
			<div class="row"> 
				<div class="row-item lg-width"> 
					ingredient 
				</div>
				<div class="row-item sm-width"> 
					<label class="checkbox-container">
						<input type="checkbox" onClick="validate()">
						<span class="checkmark"></span>
					</label> 
				</div>
			</div> 
          </div>
      <!--end squares' container-->
      </div>

      <button id="quiz-action-btn" onclick="quizProgression()">←</button>

    </div>

  </body>

</html>
